html,body,#root{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-size: 12px;
    font-family: 'Noto Sans JP', sans-serif;
    color: #212C3D;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 95%;
    margin: 0 auto;
}
/* ============================
Home
=============================== */
.home-wrapper{
    height: 100%;
    width: 100%;
    padding: .5rem;
}
.header-wrapper{
    display: flex;
    flex-direction: column;
    gap: .8rem;
    margin: 10px;
    height: 20vh;
}
.header-wrapper .filter,.filter span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.header-wrapper .filter i{
   color: #227EFF;
   background: #EDF2F7;
   border-radius: 100%;
   padding: 6px;
   box-shadow: 0px 0px 0px 0px #EDF2F7;
}
.header-wrapper .filter .fa-cart-plus{
    color: #2a2b2c
}
.header-wrapper .filter span:nth-child(2){
    align-items: center;
    padding: 0px 2rem;
    border-right: 1px solid #CBD6E0;
    border-left: 1px solid #CBD6E0;
}
.header-wrapper .filter{
    padding: .7rem;
    border-top: 1px solid #CBD6E0;
    border-bottom: 1px solid #CBD6E0 ;
    font-size: 1.2rem;
}
.cart-counter{
    position: relative;
}
.cart-counter p{
    position: absolute;
    top: -4px;
    left: 20px;
    font-size: smaller;
    background-color: #EE6F44;
    padding: 0px .3rem;
    border-radius: 100%;
    color: #fff;

}
.header-wrapper select{
    border: none;
    outline: none;
}
.header-wrapper .search{
    display: flex;
    border-radius: 4px;
    padding: 8px;
    align-items: center;
    background-color: #EDF2F7;
    opacity: 0.9;
}
.header-wrapper i{
    font-size: 1.5rem;
}
.header-wrapper .search input{
    border: none;
    width: 100%;
    outline: none;
    padding: .2rem;
    background-color: #EDF2F7;
}

.body-wrapper{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2rem;
    gap: 2rem;
    height: 40rem;
    overflow: scroll;
}
.body-wrapper::-webkit-scrollbar{
    display: none;
}
.body-wrapper .carousel{
    display: flex;
    gap: 1rem;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    height: 14rem;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.carousel::-webkit-scrollbar{
    display: none;
}
.body-wrapper .carousel div{
  min-width: 90vw;
  border-radius: 5px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  scroll-snap-align: center;
  font-size: 1rem;
}
.body-wrapper .carousel div:nth-child(1){
    background: #227EFF
}
.body-wrapper .carousel div:nth-child(2){
    background-color: #003277;
   
}
.body-wrapper .carousel div:nth-child(3){
    background: #EE6F44
}
.body-wrapper .carousel div span:nth-child(1){
    color: #fff;
    line-height: 1.2rem;
}
.body-wrapper .carousel div span:nth-child(2){
    padding: 1rem 2rem;
    background-color: #227EFF;
    border-radius: 4px;
    color: #fff;
}
.body-wrapper .carousel div:nth-child(1) span:nth-child(2){
    background-color: #003277;
}
.body-wrapper .featured{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.body-wrapper .featured div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: .5rem;
    padding: 1rem;
}
.featured div:nth-child(1) span:nth-child(1){
    background-color:#227EFF
}
.featured div:nth-child(2) span:nth-child(1){
    background: #EE6F44;
}
.featured div:nth-child(3) span:nth-child(1){
    background: #7E42F5
}
.featured div:nth-child(4) span:nth-child(1){
    background: #05944F
}
.featured div span:nth-child(1){
    border-radius: 10px;
    height: 5rem;
    width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.featured div i{
    font-size: 2rem;
    color: whitesmoke;
}
.featured div:nth-child(1) img{
    height: 2rem;
    width: 2rem;
}
.featured div img{
    height: 3rem;
    width: 3rem;
}
.products {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    gap: 1rem;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.products div{
    width: 25vw;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    color: #718596;
    gap: .5rem;
}
.products div img{
    width: 100%;
}
.products div p:nth-child(3){
    color: black;
    font-size: 1rem;
}
.toolbar-wrapper {
    display: flex;
    justify-content: space-around;
    height: 10vh;
}
.toolbar-wrapper div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
.toolbar-wrapper div:hover{
    color: #227EFF;
    border-top: 2px solid #227EFF;
}
.toolbar-wrapper div img,.toolbar-wrapper div i{
height: 2rem;
width: 2rem;
font-size: 2rem;
}
/* ============================
Product
=============================== */
.product-wrapper{
    height: 100vh;
}
.product-header{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: lighter;
}
.product-header div:nth-child(3){
    display: flex;
    gap: 2rem;
}
.product-header i {
    background: #EDF2F7;
   border-radius: 100%;
   padding: 6px;
   box-shadow: 0px 0px 0px 0px #EDF2F7;
}
.product-body .image-container{
    background-color: #E5E5E5;
    display: flex;
}
.image-container img{
    height: 20rem;
    width: 30rem;
    margin: 1rem auto;
}
.product-body .desc{
    padding: 1rem;
}
.product-body p:nth-child(1){
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #212C3D;
}
.product-body p:nth-child(2){
    color:#627483;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.product-body p:nth-child(3){
    font-size: 1.5rem;
    font-weight: 700;
}
.product-body div:nth-child(3){
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1.4rem;
    border-top: 2px solid #E5E5E5;
    border-bottom: 2px solid #E5E5E5;
}